---
layout: default
description: Every publication, application and organization can benefit from having
  consistent branding and design patterns. It takes some time and effort to build
  a complete pattern library, but the effort is worth it. This is the Mark On Product
  pattern library - hopefully it's useful.
socialimage: https://res.cloudinary.com/dbrkuvff5/image/upload/v1534109925/social-images/mark-on-product.jpg
---

  <div class="article-grid">
    {% for post in paginator.posts %}
      <section>
        <a href="{{ post.url }}" class="card">
          <div class="thumb cld-responsive" style="background-image: url(https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/c_scale,q_auto:good,w_750/{{ post.postimage }});"></div>
            <article>
              <h1 class="post-title">{{ post.title }}</h1>
                <div class="post-meta">
                  <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
                  <span class="post-readtime">{{ post.readtime }} min read</span>
                </div>
                <hr>
              <p>{{ post.description }}</p>
            </article>
        </a>
      </section>
    {% endfor %}
  </div><!--/article-grid-->


<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->