---
layout: home
---

<div class="container">


          <div class="row">
          <div class="col-1">
            <!-- holder for 1 col space, can use later if needed -->
          </div><!--/col-1 (left/top)-->

          <div class="col-10">


              <div class="post-card">
          <a href="#">
          <img class="cld-responsive" src="https://res.cloudinary.com/dbrkuvff5/image/upload/v1533634577/social-images/pattern-library-social-image.jpg">
          </a>
          <div class="post-card-content">
          <h1 class="post-title"><a href="#">Pattern Library</a></h1>
          <ul class="post-meta">
            <li class="post-date">July 30, 2018</li>
            <li class="post-readtime">9 min read</li>
          </ul>
          <hr>
        <p>Every publication, application and organization can benefit from having consistent branding and design patterns. It takes some time and effort to build a complete pattern library, but the effort is worth it. This is the Mark On Product pattern library - hopefully it’s useful.</p>
        <a href="#">Have A Read</a>
        </div>
      </div>


              <div class="post-card">
          <a href="#">
          <img class="cld-responsive" src="https://res.cloudinary.com/dbrkuvff5/image/upload/v1533634577/social-images/pattern-library-social-image.jpg">
          </a>
          <div class="post-card-content">
          <h1 class="post-title"><a href="#">Pattern Library</a></h1>
          <ul class="post-meta">
            <li class="post-date">July 30, 2018</li>
            <li class="post-readtime">9 min read</li>
          </ul>
          <hr>
        <p>Every publication, application and organization can benefit from having consistent branding and design patterns. It takes some time and effort to build a complete pattern library, but the effort is worth it. This is the Mark On Product pattern library - hopefully it’s useful.</p>
        <a href="#">Have A Read</a>
        </div>
      </div>


              <div class="post-card">
          <a href="#">
          <img class="cld-responsive" src="https://res.cloudinary.com/dbrkuvff5/image/upload/v1533634577/social-images/pattern-library-social-image.jpg">
          </a>
          <div class="post-card-content">
          <h1 class="post-title"><a href="#">Pattern Library</a></h1>
          <ul class="post-meta">
            <li class="post-date">July 30, 2018</li>
            <li class="post-readtime">9 min read</li>
          </ul>
          <hr>
        <p>Every publication, application and organization can benefit from having consistent branding and design patterns. It takes some time and effort to build a complete pattern library, but the effort is worth it. This is the Mark On Product pattern library - hopefully it’s useful.</p>
        <a href="#">Have A Read</a>
        </div>
      </div>

      
              <div class="post-card">
          <a href="#">
          <img class="cld-responsive" src="https://res.cloudinary.com/dbrkuvff5/image/upload/v1533634577/social-images/pattern-library-social-image.jpg">
          </a>
          <div class="post-card-content">
          <h1 class="post-title"><a href="#">Pattern Library</a></h1>
          <ul class="post-meta">
            <li class="post-date">July 30, 2018</li>
            <li class="post-readtime">9 min read</li>
          </ul>
          <hr>
        <p>Every publication, application and organization can benefit from having consistent branding and design patterns. It takes some time and effort to build a complete pattern library, but the effort is worth it. This is the Mark On Product pattern library - hopefully it’s useful.</p>
        <a href="#">Have A Read</a>
        </div>
      </div>

















          </div><!--/col-10 (main content)-->

          <div class="col-1">
            <!-- holder for 1 col space, can use later if needed -->
          </div><!--/col-1 (right/bottom)-->
        </div><!--/row-->

</div>




<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
    
    {{ post.content }}
  </div>
  {% endfor %}
</div>









<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->