/*
 * Overrides
 *
 * Custom overrides for Mark On Product Theme
 */


body {
  background: #FAFAFA;
}

.masthead {
  background: #000000;
  border-bottom: none;
}

.masthead-title img {
  border-radius: 0;
  margin: 0;
  opacity: 1.0;
}

.masthead-title img:hover {
  opacity: 0.7;
}

.sidebar-toggle {
  color :#FAFAFA;
  background-color: transparent;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .wrap .sidebar-toggle {
  color :#9a9a9a;
  background-color: transparent;
}


/*
 * Typography
 */

 h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #000;
 }

 .post-title {
    font-size:3rem;
    color: #000;
    font-weight:700;
 }