/* Overrides Custom overrides for Mark On Product Theme */
 body {
     background: #FAFAFA;
}
 .masthead {
     background: #272727;
     border-bottom: none;
}
 .masthead-title img {
     border-radius: 0;
     margin: 0;
     opacity: 1.0;
}
/*@media (min-width: 38rem) {
     .masthead-title img {
         margin:0;
    }
}
*/
 .masthead-title img:hover {
     opacity: 0.7;
}
 .sidebar-toggle {
     color :#FAFAFA;
     background-color: transparent;
}
 .sidebar-toggle:active, #sidebar-checkbox:checked ~ .wrap .sidebar-toggle {
     color :#9a9a9a;
     background-color: transparent;
}
/* * Typography */
 .post-title {
     font-size: 2.3rem;
     color: #000;
}
 h2, h3, h4 {
     color: #67A53E;
}
 h2 {
     font-size:1.6rem;
}
 .post-date {
     color: #999;
     font-size: .9rem;
}
 .post p {
     line-height: 1.6;
     margin-bottom: 1.8rem;
     font-weight:300;
     font-size:1.1rem;
     color: #393939;
}
 ul {
     font-weight:300;
}
 strong {
     font-weight:600;
}
/* * Sidebar */
/* * Footer */
 .footer-inner{
     width: 100%;
     height: auto;
     margin: auto;
     background: #272727;
     padding:20px 0px 15px 0px;
}
 .footer-social-icons{
     width: 100%;
     height: auto;
     margin: auto;
}
 .footer-social-icons ul{
     margin: 0px;
     padding: 0px;
     text-align: center;
}
 .footer-social-icons ul li{
     display: inline-block;
     width: 45px;
     height: 45px;
     margin: 0px 10px;
     border-radius: 100%;
     background: #68A344;
}
 .footer-social-icons ul li a{
     color: #272727;
     display: block;
     width: 45px;
     height: 45px;
     background-size: 68% auto;
}
 .footer-social-icons ul li:hover{
     background:#fff;
     cursor: pointer;
}
 .footer-social-icons ul li:hover a{
     color: #fff;
}
 a.social-twitter {
     background: url("/public/theme-assets/img/social-twitter.svg") no-repeat 50% 50%;
}
 a.social-linkedin {
     background: url("/public/theme-assets/img/social-linkedin.svg") no-repeat 50% 50%;
}
 a.social-github {
     background: url("/public/theme-assets/img/social-github.svg") no-repeat 50% 50%;
}
 .footer-menu-one{
     width: 100%;
     height: auto;
     margin: auto;
     margin-top:10px;
}
 .footer-menu-one ul{
     margin: 0px;
     padding: 0px;
     text-align: center;
}
 .footer-menu-one ul li{
     display: inline-block;
     margin: 0px 15px;
}
 .footer-menu-one ul li a{
     font-size:15px;
     color: #fff;
     letter-spacing: 1px;
     text-transform: uppercase;
}
 .footer-menu-one ul li a:hover{
     color: #68A344;
     text-decoration:none;
}
 .footer-bottom{
     width: 100%;
     height: auto;
     margin: auto;
     background: #68A344;
     padding: 10px;
}
 .footer-bottom p{
     font-size: 14px;
     text-align: center;
     color: #fff;
     letter-spacing: 1px;
     padding:0;
     margin:0;
}
/* * Sticky Footer */
 html, body {
     height: 100%;
}
 .wrap {
     min-height: 100%;
     -webkit-overflow-scrolling: touch;
}
 .content {
     padding-bottom: 170px;
    /* Height of the footer element */
}
 .footer {
     width: 100%;
     height: 170px;
     position: absolute;
     bottom: 0;
     left: 0;
}
 