 /*
 * Contact Form Styles
 */

.embed .confirm .create-message {
  display:none !important;
}

.embed .confirm a.start-cta {
  display:none !important;
}

.embed .confirm .logo-container {
  display:none !important;
}
