 /*
 * Contact Form Styles
 */

.embed .confirm .create-message {
  /*display:none !important;*/
}

.embed .confirm a.start-cta {
  display:none !important;
}

.embed .confirm .logo-container {
  display:none !important;
}








/* Typography */
.wufoo .info h2{font-size:160%;font-family:inherit;color:#000000}
.wufoo .info div{font-size:95%;font-family:inherit;color:#333333}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:14px;font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;color:#333333}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#333333}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;color:#333333}
.wufoo label.choice{color:#333333}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#333333}
form span.req {color:#B94A48 !important;}


/* Spacing */
.leftLabel li, .rightLabel li {padding-top:18px;padding-bottom:18px;}


/* Turining Stuff Off */
#header.info {display:none;}
#errorLi {display:none;}
form li.error p.error {display:none;}


/* General Colors */
.embed form, .embed body {background-color: #fafafa;}
.wufoo li.focused {background-color:transparent;}


/* Rounding Up Corners */
.wufoo li.focused {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/* Fields*/
input.text, input.search, textarea.textarea {
  border: 1px solid #DEDDDD;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


/* Field Text*/
input.text, textarea.textarea, select.select {
  font-size:14px;font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;color:#333333;
  box-sizing:border-box;
  padding:6px;
}
label.choice {margin-right:22px;}


/* Error*/
form li.error {
  background-color: transparent !important;
  margin-bottom: 3px !important;
}

form li.error input.text {
  border-color: #953B39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392
}

form p.error {
  margin: 5% 0 0 34% !important;
  line-height:15px !important;
  color:#B94A48 !important;
}

form li.error .desc {
color:#B94A48 !important;
}

/* Header Text*/
.wufoo .section h3 {
  font-size:16px;
  font-weight:600;
  margin: 10px 0 20px 0;
  font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color:#5C9055;
  background: white;
}

/*Paging*/
.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker {
  font-size:13px;
  font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color:#333333;
  font-weight:bold;
}

.pgStyle1 var {
  width: 34px;
  height: 28px;
  line-height: 28px;
  font-size: 17px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  box-shadow:none;
  background-color:#e8e8e4;
  border:none;
  color:#afafae;
}
.wufoo .info, .wufoo .paging-context {
  border-bottom: 1px solid #F0F0EF;
  font-family:Helvetica, Verdana, Tahoma, Arial, sans-serif;
}


.pgStyle1 .selected var {
  border:none;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em {
  background: #5c9055;
  color: #FFFFFF;
}

.pgStyle1 td.t {padding: 17px 1%;}

.circle3 td {width: 27%;}


/*Payment*/
#payment ul li.first.section {display:none;}

.wufoo .section h3, .wufoo .captcha, #payment .paging-context {
  border-top:none;
}

#payment .desc {
  padding: 0;
  line-height: 140%;
  font-size: 14px;
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color: #333;
}

#ppSection, #ccSection {border-bottom:none;}

#payment .error .desc strong {color:#B94A48;}

/*Buttons*/
button.link {
margin: 0 10% 0 0;
}

li.back-btn .link {
  font-size: 11px;
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color: #333;
}

/*main Button Alignment*/
.noI .leftLabel .buttons, .noI .rightLabel .buttons {padding-left:0;}
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div {margin: 4% 1% 0 1%;}

.wufoo input.btTxt {
  float:right;
  margin: 0 0 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  zoom: 1;
  white-space: nowrap;
  color: white !important;
  line-height: 1;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: #77CC6D;
  -webkit-box-shadow: 0 4px 0 0 #53994B;
  -moz-box-shadow: 0 4px 0 0 #53994b;
  box-shadow: 0 4px 0 0 #53994B;
  font-size: 15px !important;
  padding: 3% 5%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.wufoo input.btTxt:hover {
  background-color:#5C9055;
  -webkit-box-shadow: 0 4px 0 0 #345c2f;
  -moz-box-shadow: 0 4px 0 0 #345c2f;
  box-shadow: 0 4px 0 0 #345c2f;
}

.wufoo input.btTxt:active {
  margin-top:2px;
  -webkit-box-shadow: 0 2px 0 0 #53994B;
  -moz-box-shadow: 0 2px 0 0 #53994b;
  box-shadow: 0 2px 0 0 #53994B;
}

.leftLabel .buttons div, .rightLabel .buttons div {
  float: right;
  margin: 0 0 0 20px;
}

/*Contact Form*/
#fo31li1 span {width:32%;}

#fo31li1 #Field1 {width:90%;}

#fo31li1 #Field2 {width:100%;}

#fo31li1 span label {text-align:left;}


/*Job Alert Signup Form*/
#form34 p.error {display:none !important;}
#form34 #fo34li5 {margin: 20px 0 20px 0;}

/*Feedback Form*/
#form18 p.error {margin: 0% 0 0 1% !important}
