<div class="footer-inner">
 
<div class="footer-social-icons">
  <ul>
    <li><a href="#" target="blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" target="blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#" target="blank"><i class="fa fa-youtube"></i></a></li>
  </ul>
</div>  
 
<div class="footer-menu-one">
  <ul>
    <li><a href="#">Home</a></li>
           <li><a href="#">About us</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#">Products</a></li>
           <li><a href="#">Contact us</a></li>
  </ul>
</div>
 

 
 
</div>
 
<div class="footer-bottom">
  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</div>
