<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Addtional meta tags -->
    {% if page.url == "/" %}
        <!-- Homepage -->
        <title>{{site.title}} - {{site.tagline}}</title>
        <meta property="og:title" content="{{site.title}}" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="{{site.description}}" />
        <meta property="og:description" content="{{site.description}}" />
        <link rel="canonical" href="{{site.url}}" />
        <meta property="og:url" content="{{site.url}}" />
        <meta property="og:site_name" content="{{site.title}}" />
        <meta property="og:image" content="https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/c_scale,q_auto:best,w_552/{{ page.image }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@{{ site.author.twitter }}" />
        <meta name="author" content="{{ site.author.name }}">
        <script type="application/ld+json">{"name":"{{site.title}}","description":"{{site.description}}","author":null,"@type":"WebSite","url":"{{site.url}}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533676576/assets/logo.svg"}},"image":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533676576/assets/logo.svg","headline":"{{site.description}}","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>


    {% elsif page.is_page %}
        <!-- All other pages -->
        <title>{{site.title}} - {{ page.title }}</title>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="{{page.description}}" />
        <meta property="og:description" content="{{page.description}}" />
        <link rel="canonical" href="{{site.url}}{{page.url}}" />
        <meta property="og:url" content="{{site.url}}{{page.url}}" />
        <meta property="og:site_name" content="{{site.title}}" />
        <meta property="og:image" content="https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/c_scale,q_auto:best,w_552/{{ page.image }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@{{ site.author.twitter }}" />
        <meta name="author" content="{{ site.author.name }}">
        <script type="application/ld+json">{"name":"{{site.title}}","description":"{{page.description}}","author":null,"@type":"WebSite","url":"{{site.url}}{{page.url}}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533676576/assets/logo.svg"}},"image":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533676576/assets/logo.svg","headline":"{{site.description}}","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>

    {% else %}
        <!-- Posts -->
        <title>{{ page.title }} - {{site.title}}</title>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:locale" content="en_US" />
        <meta name="description" content="{{page.description}}" />
        <meta property="og:description" content="{{page.description}}" />
        <link rel="canonical" href="{{site.url}}{{page.url}}" />
        <meta property="og:url" content="{{site.url}}{{page.url}}" />
        <meta property="og:site_name" content="{{site.title}}" />
        <meta property="og:image" content="https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/c_scale,q_auto:best,w_552/{{ page.image }}" />
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@{{ site.author.twitter }}" />
        <meta name="author" content="{{ site.author.name }}">
        <script type="application/ld+json">{"name":null,"description":"{{page.description}}","author":null,"@type":"BlogPosting","url":"{{site.url}}{{page.url}}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533676576/assets/logo.svg"}},"image":"https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/c_scale,q_auto:best,w_552/{{ page.image }}","headline":"{{ page.title }}","dateModified":"{{ page.date | date_to_xmlschema }}","datePublished":"{{ page.date | date_to_xmlschema }}","sameAs":null,"mainEntityOfPage":{"@type":"WebPage","@id":"{{site.url}}{{page.url}}"},"@context":"http://schema.org"}</script>
    {% endif %}


    <!-- Inlined Stylesheet -->
    <style>{% include css/style.css %}</style>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/dbrkuvff5/image/upload/v1534497630/assets/favicon-96x96.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dbrkuvff5/image/upload/v1534497637/assets/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dbrkuvff5/image/upload/v1534497630/assets/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://res.cloudinary.com/dbrkuvff5/image/upload/v1531865928/assets/apple-touch-icon-144-precomposed.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>