<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Addtional meta tags -->
    {% seo %}

    <!-- Inlined Stylesheet -->
    <style>{% include css/style.css %}</style>

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://res.cloudinary.com/dbrkuvff5/image/upload/v1531865928/assets/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>