/* ==== Color Variables ==== */
$brand-green: #67a43e;
$brand-black: #272727;
$background-white: #fafafa;
$divider-gray: #e0e0e0;
$text-black: #1f1f1f;

/* ==== Media Queries ==== */
$breakpoints: (
    "phone":        480px,
    "tablet":       736px,
    "desktop-sm":   980px,
    "desktop":      1280px,
    "desktop-lg":   1690px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/* Font Weight Guide */
/*
body text== "source sans pro"
regular: 400
semi-bold: 600

/* ==== Poole and Lanyon ==== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  -webkit-overflow-scrolling: touch;
  height: 100%; /*sticky footer*/
  overflow-x: hidden; /*sticky footer*/
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  line-height: 1.5;
  color:000;
}
@media (min-width: 30em) {
  html {
    font-family: "source-sans-pro", "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
  }
}
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #268bd2;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* ==== Headings ==== */
h1 {
  color: #313131;
}
h2, h3, h4, h5, h6 {
  color: $brand-green;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: -.025rem;
  line-height: 1.25;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  @include mq('phone') {
    font-size: 1.6rem;
  }
}
h3 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  @include mq('phone') {
    font-size: 1.3rem;
  }
}
h4, h5, h6 {
  font-size: 1rem;
  margin-top: 1rem;
}


/* ==== Body Text ==== */
p {
  margin-bottom: 1rem;
  margin-top: 0;
  @include mq('phone') {
    color: $text-black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.8rem;
  }
}
strong {
  @include mq('phone') {
    font-weight: 600;
  }
}


/* ==== Lists ==== */
ul, ol, dl {
  margin-bottom: 1rem;
  margin-top: 0;
  @include mq('phone') {
    font-weight: 400;
  }
}
dt {
  font-weight: 600;
}
dd {
  margin-bottom: .5rem;
}
abbr {
  color: #555;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  border-bottom: 1px dotted #e5e5e5;
  cursor: help;
}


/* ==== Code ==== */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  background-color: #eee;
  border-radius: 3px;
  color: #bf616a;
  font-size: 85%;
  padding: .25em .5em;
}
pre {
  background-color: #eee;
  display: block;
  font-size: .8rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}
.highlight {
  border-radius: 4px;
  margin-bottom: 1rem;
}
.highlight pre {
  margin-bottom: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@include mq('phone') {
  blockquote {
    padding-left: 1.25rem;
    padding-right: 5rem;
  }
}
img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
}


/* ==== Tables ==== */
table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}
td, th {
  border: 1px solid #e5e5e5;
  padding: .25rem .5rem;
}
th {
  text-align: left;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: #f3f3f3;
}

/* ==== Container and Wrap ==== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    @include mq('phone') {
      max-width:722px;
    }
    @include mq('tablet') {
      max-width:625px;
    }
    @include mq('desktop-sm') {
      max-width:1024px;
    }
    @include mq('desktop') {
      max-width:1156px;
    }
    @include mq('desktop-lg') {
      max-width:1605px;
    }
}
.wrap {
  min-height: 100%; /*Sticky Footer*/
  position: relative;
  width: 100%;
  /* Used to position site content when the sidebar is toggled*/
}
.content {
  padding-bottom: 160px; /*Sticky Footer*/
}
/*Multi Col Layout*/
.layout-2-col {
  @include mq('desktop-sm') {
    display: flex;
  }
}
.content-primary {
  @include mq('desktop-sm') {
    flex: 75%;
  }
}
.content-secondary {
  @include mq('desktop-sm') {
    flex: 25%;
    margin: 0 0 0 2rem;
  }
}
/*Homepage Body Class*/
.pg-home {
  background-color: #fafafa;
}
.pg-other {
  background-color: #fff;
}

/* ==== Posts and Pages ==== */
.page, .post {
  margin-bottom: 4rem;
}
.page img, .post img {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.page-title, .post-title, .post-title a {
  color: #303030;
}
.page-title, .post-title {
  font-family: "myriad-pro", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  margin-top: 0;
  @include mq('phone') {
    color: #000;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }
}
.post-meta {
  color: #999;
  font-size: .7rem;
  margin: -.5rem 0 1rem 0;
  padding: 0;
  @include mq('phone') {
    font-size: .9rem;
  }
}
.post-meta li {
  display: inline-block;
  margin: 0 1rem 0 0;
}
.post-readtime:before {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533724681/assets/icon-readtime.svg") no-repeat;
  background-size: 100% 100%;
  content: "\0000a0";
  display: inline-block;
  height: .7rem;
  left: 0;
  margin: 0 0.2rem 0 0;
  position: relative;
  top: .2rem;
  width: .7rem;
  @include mq('phone') {
    top: .3rem;
  }
}
.post-image {
  margin: 0 0 3rem 0;
}
.related {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.related-posts {
  list-style: none;
  padding-left: 0;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  color: #999;
  font-size: 75%;
}
.related-posts li a:hover {
  color: #268bd2;
}
.related-posts li a:hover small {
  color: inherit;
}


/* ==== Pagination ==== */
.pagination {
  color: #ccc;
  margin-left: -1rem;
  margin-right: -1rem;
  overflow: hidden; /* clearfix */
  text-align: center;
}
.pagination-item {
  border: 1px solid #eee;
  display: block;
  padding: 1rem;
  /* Pagination items can be `span`s or `a`s */
}
.pagination-item:first-child {
  margin-bottom: -1px;
}
a.pagination-item:hover {
  background-color: #f5f5f5;
  /* Only provide a hover state for linked pagination items */
}
@include mq('phone') {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 0;
  }
  .pagination-item:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: -1px;
  }
}

/* ==== Sidebar ==== */
.sidebar {
  background-color: #202020;
  bottom: 0;
  color: rgba(255,255,255,.6);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  left: -14rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 14rem;
}
@include mq('phone') {
  .sidebar {
    font-size: .75rem;
  }
}

/* ==== Sidebar Content ==== */
.sidebar a {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar Icon Design */
.sidebar-icon {
  display: block;
}
.sidebar-icon img {
  margin: 1rem auto 2rem auto;
  opacity: 0.3;
  width: 4rem;
}
.sidebar-icon img:hover {
  opacity: 0.1;
}

/* Sidebar Nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  border-top: 1px solid rgba(255,255,255,.1);
  display: block;
  padding: .5rem 1rem;
}
.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
  text-decoration: none;
}
@media (min-width: 48rem) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.sidebar-checkbox {
  display: none;
  /* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
}
.sidebar-toggle {
  border-radius: 4px;
  color: $background-white;
  cursor: pointer;
  display: block;
  left: 1rem;
  margin-top: -8px;
  padding: 0.2rem .5rem;
  position: absolute;
  top: 1rem;
  width: 2.2rem;
  /* Style the `label` that we use to target the `.sidebar-checkbox` */
}
.sidebar-toggle:before {
  border-bottom: .125rem solid;
  border-top: .375rem double;
  box-sizing: border-box;
  content: "";
  display: block;
  padding-bottom: .125rem;
  width: 100%;
}
.sidebar-toggle:active, #sidebar-checkbox:checked ~ .wrap .sidebar-toggle {
  color: #9a9a9a;
}
@include mq('phone') {
  .sidebar-toggle {
    width: 2.25rem;
  }
  .sidebar-toggle:before {
    border-bottom-width: .15rem;
    border-top-width: .45rem;
    padding-bottom: .15rem;
  }
}

/*Sidebar Slide Effects*/
.wrap, .sidebar, .sidebar-toggle {
  backface-visibility: hidden;
  perspective: 1000;
}
.sidebar {
  transition: all .3s ease-in-out;
}
.wrap, .sidebar-toggle {
  transition: left .3s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  left: 0;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .wrap {
  left: 14rem;
}

/* ==== Custom Styles ==== */



/* ==== Masthead ==== */
.masthead {
  background: $brand-black;
  margin-bottom: 2rem;
  padding-top: .5rem;
  min-height: 2.3rem;
}
.masthead-title img {
  margin: 0 auto;
  opacity: 1.0;
  @include mq('tablet') {
    margin:0;
  }
}
.masthead-title img:hover {
  opacity: 0.7;
}
/*Screen Test For RWD Styling*/
/*.masthead {
  background: $brand-black;
  @include mq('phone') {
    background-color: red;
  }
  @include mq('tablet') {
    background-color: green;
  }
  @include mq('desktop-sm') {
    background-color: blue;
  }
  @include mq('desktop') {
    background-color: purple;
  }
  @include mq('desktop-lg') {
    background-color: yellow;
  }
}*/
/* ==== Footer ==== */
footer {
  bottom: 0; /*Sticky Footer*/
  height: 160px; /*Sticky Footer*/
  left: 0; /*Sticky Footer*/
  position: absolute; /*Sticky Footer*/
  width: 100%; /*Sticky Footer*/
}
.footer-inner {
  background: $brand-black;
  padding: .9rem 0 .6rem 0;
  width: 100%;
}
.footer-social-icons {
  height: auto;
  margin: auto;
  width: 100%;
}
.footer-social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-social-icons ul li {
  background: $brand-green;
  border-radius: 100%;
  display: inline-block;
  height: 2.2rem;
  margin: 0 .5rem;
  width: 2.2rem;
}
.footer-social-icons ul li a {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
}
.footer-social-icons ul li:hover {
  background: #fff;
  cursor: pointer;
}
.footer-social-icons ul li:hover a {
  color: #fff;
}
a.social-twitter {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885968/assets/social-twitter.svg") no-repeat 50% 50%;
  background-size: 66% auto;
}
a.social-linkedin {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885965/assets/social-linkedin.svg") no-repeat 50% 50%;
  background-size: 64% auto;
}
a.social-github {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885964/assets/social-github.svg") no-repeat 50% 50%;
  background-size: 75% auto;
}
.footer-menu-one {
  margin-top: .4rem;
  width: 100%;
}
.footer-menu-one ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-menu-one ul li {
  display: inline-block;
  margin: 0 .5rem;
}
.footer-menu-one ul li a {
  color: #fff;
  font-size: .740rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-menu-one ul li a:hover {
  color: $brand-green;
  text-decoration: none;
}
.footer-bottom {
  background: $brand-green;
  padding: .4rem;
  width: 100%;
}
.footer-bottom p {
  color: #fff;
  font-size: .740rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ==== Utility Classes ==== */
.width-25 {
  max-width: 100%;
  @include mq('phone') {
    max-width: 25%;
  }
}
.width-50 {
  max-width: 100%;
  @include mq('phone') {
    max-width: 50%;
  }
}
.width-75 {
  max-width: 100%;
  @include mq('phone') {
    max-width: 75%;
  }
}
.width-100 {
  max-width: 100%;
  @include mq('phone') {
    max-width: 100%;
  }
}
.float-left {
  float: none;
  @include mq('phone') {
    float: left;
    margin: 0.5rem 1.2rem 0 0;
  }
}
.float-right {
  float: none;
  @include mq('phone') {
    float: right;
    margin: 0.5rem 0 0 1.2rem;
  }
}
.lead {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ==== Dividers ==== */
hr {
  border: 0;
  border-bottom: 1px solid $divider-gray;
  margin: 1.5rem 0;
  position: relative;
}
.divider {
  border-bottom: 1px solid $divider-gray;
}

/* ==== Messages ==== */
blockquote {
  border-left-color: #D3D8E0;
  border-left-style: solid;
  border-left-width: 0.2em;
  font-style: italic;
  margin-bottom: 3rem;
  padding: 1rem;
}
.message {
  background-color: #f1f1f1;
  border-left-color: #D3D8E0;
  border-left-style: solid;
  border-left-width: 0.2em;
  margin-bottom: 3rem;
  padding: 1rem;
}
.message-secondary {
  background-color: #E5F2FF;
  border-left-color: #CBE6FF;
}
.message-success {
  background-color: #E9F6ED;
  border-left-color: #D3EDDB;
}
.message-alert {
  background-color: #FFF9E5;
  border-left-color: #FFF5CB;
}
.message-danger {
  background-color: #FBEBED;
  border-left-color: #F9D7DB;
}

/* ==== Author Bio ==== */
.about-author {
  border-bottom: 1px solid $divider-gray;
  border-top: 1px solid $divider-gray;
  overflow: hidden; /*clear fix*/
  padding-top: 1rem;
  @include mq('phone') {
    display: table;
  }
}
.author-image {
  margin: 0 auto;
  width: 50%;
  @include mq('phone') {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
  }
}
.author-bio {
  @include mq('phone') {
    display: table-cell;
    float: left;
    padding-left: 2em;
  }
}
.author-bio p {
  @include mq('phone') {
    font-size: .9rem;
    line-height: 1.5rem;
  }
}

/* ==== Button Generic ==== */
.btn {
  border-radius: .3rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: .3rem 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

/*RSS Subscribe Button*/
.rss-subscribe {
  background: rgba(44,44,44,1.0);
  margin-top: 3rem;
  width: 9rem;
}
.rss-subscribe:active {
  background: #e0e0e0;
}
.rss-subscribe:hover, .rss-subscribe:focus {
  background-color: rgba(68,68,68,1.0);
  text-decoration: none;
}
.rss-subscribe:before {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533679603/assets/icon-rss-wht.svg") no-repeat;
  background-size: 100% 100%;
  content: "\0000a0";
  display: inline-block;
  height: 1rem;
  left: 0;
  margin: 0 0.3rem 0 0;
  position: relative;
  top: .2rem;
  width: 1rem;
}

/* ==== Homepage Article Grid ==== */
.article-grid {
  margin: 0 auto 9rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem; 
  @include mq('tablet') {
    grid-template-columns: 1fr 1fr;
  }
  @include mq('desktop-sm') {
    grid-template-columns: 1fr 1fr 1fr;
  } 
}
/*Style First Article*/
.article-grid section:nth-child(1) {
  @include mq('tablet') {
   grid-column: 1/ span 2;
  } 
}
.article-grid section:nth-child(1) h1{
  @include mq('tablet') {
    font-size:2.3rem;
  } 
}
.article-grid section:nth-child(1) p {
  display:block;
}
.article-grid section:nth-child(1) hr {
  display:block;
}
/*Style Second Article*/
.article-grid section:nth-child(2) h1{
  @include mq('tablet') {
    font-size:1.8rem;
  } 
}
.article-grid section:nth-child(2) p {
  @include mq('desktop-sm') {
    display:block;
  }
}
.article-grid section:nth-child(2) hr {
  display:block;
}
.card {
  min-height: 100%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-top: 4px solid $brand-green;
}
.card:hover {
  text-decoration: none;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column; 
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.card h1 {
  font-size:1.5rem;
  margin: 0 0 2rem 0;
}
.card p { 
  display: none;
  flex: 1; /* make p grow to fill available space*/
  color:#000;
  @include mq('phone') {
    color: $text-black;
  }
}
.card hr {
  display:none;
  margin: .75rem 0;
}





