/* ==== Color Variables ==== */
$brand-green: #67a43e;
$brand-black: #272727;
$background-white: #fafafa;
$divider-gray: #e0e0e0;




/* ==== Poole and Lanyon ==== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  -webkit-overflow-scrolling: touch;
  height: 100%; /*Sticky Footer*/
  margin: 0;
  overflow-x: hidden; /*Sticky Footer*/
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  line-height: 1.5;
  @media (min-width: 30em) {
    font-family: "source-sans-pro", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: $background-white;
  color: #515151;
}
a {
  color: #268bd2;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}


/* Headings */
h1 {
  color: #313131;
}
h2, h3, h4, h5, h6 {
  color: $brand-green;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: -.025rem;
  line-height: 1.25;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  @media (min-width: 30em) {
    font-size: 1.6rem;
  }
}
h3 {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  @media (min-width: 30em) {
    font-size: 1.3rem;
  }
}
h4, h5, h6 {
  font-size: 1rem;
  margin-top: 1rem;
}


/* Body text */
p {
  margin-bottom: 1rem;
  margin-top: 0;
  @media (min-width: 30em) {
    color: #393939;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.8rem;
  }
}
strong {
  color: #303030;
  @media (min-width: 30em) {
    font-weight: 600;
  }
}


/* Lists */
ul, ol, dl {
  margin-bottom: 1rem;
  margin-top: 0;
  @media (min-width: 30em) {
    font-weight: 300;
  }
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}
abbr {
  color: #555;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  border-bottom: 1px dotted #e5e5e5;
  cursor: help;
}


/* Code */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  background-color: #eee;
  border-radius: 3px;
  color: #bf616a;
  font-size: 85%;
  padding: .25em .5em;
}
pre {
  background-color: #eee;
  display: block;
  font-size: .8rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}
.highlight {
  border-radius: 4px;
  margin-bottom: 1rem;
}
.highlight pre {
  margin-bottom: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-left: 1.25rem;
    padding-right: 5rem;
  }
}
img {
  display: block;
  height: auto;
  margin: 0 0 1rem;
  max-width: 100%;
  padding-bottom: .5rem;
}


/* Tables */
table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}
td, th {
  border: 1px solid #e5e5e5;
  padding: .25rem .5rem;
}
th {
  text-align: left;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: #f3f3f3;
}


/* Container and Wrap */
.container {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*max-width: 28rem;*/
  /*padding-left: 1rem;*/
  /*padding-right: 1rem;*/
}
@media (min-width: 38rem) {
  .container {
    /*max-width: 32rem;*/
  }
}
@media (min-width: 56rem) {
  .container {
    /*max-width: 38rem;*/
  }
}
.wrap {
  min-height: 100%; /*Sticky Footer*/
  position: relative;
  width: 100%;
  /* Used to position site content when the sidebar is toggled*/
}
.content {
  padding-bottom: 160px; /*Sticky Footer*/
}

/* Posts and Pages */
.page, .post {
  margin-bottom: 4em;
}
.page-title, .post-title, .post-title a {
  color: #303030;
}
.page-title, .post-title {
  font-family: "myriad-pro", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  margin-top: 0;
  @media (min-width: 30em) {
    color: #000;
    font-size: 2.3rem;
  }
}
.post-meta {
  color: #999;
  font-size: .7rem;
  margin: -.5rem 0 1rem 0;
  padding: 0;
  @media (min-width: 30em) {
    font-size: .9rem;
  }
}
.post-meta li {
  display: inline-block;
  margin: 0 1rem 0 0;
}
.post-readtime:before {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533724681/assets/icon-readtime.svg") no-repeat;
  background-size: 100% 100%;
  content: "\0000a0";
  display: inline-block;
  height: .7rem;
  left: 0;
  margin: 0 0.2rem 0 0;
  position: relative;
  top: .2rem;
  width: .7rem;
  @media (min-width: 30em) {
    top: .3rem;
  }
}
.related {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.related-posts {
  list-style: none;
  padding-left: 0;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  color: #999;
  font-size: 75%;
}
.related-posts li a:hover {
  color: #268bd2;
}
.related-posts li a:hover small {
  color: inherit;
}


/* Pagination */
.pagination {
  color: #ccc;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin-left: -1rem;
  margin-right: -1rem;
  overflow: hidden;
  text-align: center;
  /* clearfix */
}
.pagination-item {
  border: 1px solid #eee;
  display: block;
  padding: 1rem;
  /* Pagination items can be `span`s or `a`s */
}
.pagination-item:first-child {
  margin-bottom: -1px;
}
a.pagination-item:hover {
  background-color: #f5f5f5;
  /* Only provide a hover state for linked pagination items */
}
@media (min-width: 30rem) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 0;
  }
  .pagination-item:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: -1px;
  }
}


/* Sidebar */
.sidebar {
  background-color: #202020;
  bottom: 0;
  color: rgba(255,255,255,.6);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  left: -14rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 14rem;
}
@media (min-width: 30rem) {
  .sidebar {
    font-size: .75rem;
  }
}


/* Sidebar Content */
.sidebar a {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}


/* Sidebar Icon Design */
.sidebar-icon {
  display: block;
}
.sidebar-icon img {
  margin: 1rem auto 2rem auto;
  opacity: 0.3;
  width: 4rem;
}
.sidebar-icon img:hover {
  opacity: 0.1;
}


/* Sidebar Nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  border-top: 1px solid rgba(255,255,255,.1);
  display: block;
  padding: .5rem 1rem;
}
.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
  text-decoration: none;
}
@media (min-width: 48rem) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.sidebar-checkbox {
  display: none;
  /* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
}
.sidebar-toggle {
  border-radius: 4px;
  color: $background-white;
  cursor: pointer;
  display: block;
  left: 1rem;
  margin-top: -8px;
  padding: 0.2rem .5rem;
  position: absolute;
  top: 1rem;
  width: 2.2rem;
  /* Style the `label` that we use to target the `.sidebar-checkbox` */
}
.sidebar-toggle:before {
  border-bottom: .125rem solid;
  border-top: .375rem double;
  box-sizing: border-box;
  content: "";
  display: block;
  padding-bottom: .125rem;
  width: 100%;
}
.sidebar-toggle:active, #sidebar-checkbox:checked ~ .wrap .sidebar-toggle {
  color: #9a9a9a;
}
@media (min-width: 30.1rem) {
  .sidebar-toggle {
    width: 2.25rem;
  }
  .sidebar-toggle:before {
    border-bottom-width: .15rem;
    border-top-width: .45rem;
    padding-bottom: .15rem;
  }
}

/*Sidebar Slide Effects*/
.wrap, .sidebar, .sidebar-toggle {
  backface-visibility: hidden;
  perspective: 1000;
}
.sidebar {
  transition: all .3s ease-in-out;
}
.wrap, .sidebar-toggle {
  transition: left .3s ease-in-out;
}
#sidebar-checkbox:checked + .sidebar {
  left: 0;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .wrap {
  left: 14rem;
}


/* ==== Custom ==== */


/*Masthead*/
.masthead {
  background: $brand-black;
  margin-bottom: 2rem;
  padding-top: .5rem;
}
.masthead-title img {
  margin: 0 auto;
  opacity: 1.0;
  @media (min-width: 45em) {
    margin: 0 0 0 10.5%;
  }
}
.masthead-title img:hover {
  opacity: 0.7;
}

/*Footer*/
.footer {
  bottom: 0; /*Sticky Footer*/
  height: 160px; /*Sticky Footer*/
  left: 0; /*Sticky Footer*/
  position: absolute; /*Sticky Footer*/
  width: 100%; /*Sticky Footer*/
}
.footer-inner {
  background: $brand-black;
  padding: .9rem 0 .6rem 0;
  width: 100%;
}
.footer-social-icons {
  height: auto;
  margin: auto;
  width: 100%;
}
.footer-social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-social-icons ul li {
  background: $brand-green;
  border-radius: 100%;
  display: inline-block;
  height: 2.2rem;
  margin: 0 .5rem;
  width: 2.2rem;
}
.footer-social-icons ul li a {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
}
.footer-social-icons ul li:hover {
  background: #fff;
  cursor: pointer;
}
.footer-social-icons ul li:hover a {
  color: #fff;
}
a.social-twitter {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885968/assets/social-twitter.svg") no-repeat 50% 50%;
  background-size: 66% auto;
}
a.social-linkedin {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885965/assets/social-linkedin.svg") no-repeat 50% 50%;
  background-size: 64% auto;
}
a.social-github {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/v1532885964/assets/social-github.svg") no-repeat 50% 50%;
  background-size: 75% auto;
}
.footer-menu-one {
  margin-top: .4rem;
  width: 100%;
}
.footer-menu-one ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-menu-one ul li {
  display: inline-block;
  margin: 0 .5rem;
}
.footer-menu-one ul li a {
  color: #fff;
  font-size: .740rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-menu-one ul li a:hover {
  color: $brand-green;
  text-decoration: none;
}
.footer-bottom {
  background: $brand-green;
  padding: .4rem;
  width: 100%;
}
.footer-bottom p {
  color: #fff;
  font-size: .740rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
}


/*Utility Classes*/
.width-25 {
  max-width: 100%;
  @media (min-width: 30em) {
    max-width: 25%;
  }
}
.width-50 {
  max-width: 100%;
  @media (min-width: 30em) {
    max-width: 50%;
  }
}
.width-75 {
  max-width: 100%;
  @media (min-width: 30em) {
    max-width: 75%;
  }
}
.width-100 {
  max-width: 100%;
  @media (min-width: 30em) {
    max-width: 100%;
  }
}
.float-left {
  float: none;
  @media (min-width: 30em) {
    float: left;
    margin: 0.5rem 1.2rem 0 0;
  }
}
.float-right {
  float: none;
  @media (min-width: 30em) {
    float: right;
    margin: 0.5rem 0 0 1.2rem;
  }
}
.lead {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*Dividers*/
hr {
  border: 0;
  border-bottom: 1px solid $divider-gray;
  margin: 1.5rem 0;
  position: relative;
}
.divider {
  border-bottom: 1px solid $divider-gray;
}

/*Messages*/
blockquote {
  border-left-color: #D3D8E0;
  border-left-style: solid;
  border-left-width: 0.2em;
  font-style: italic;
  margin-bottom: 3rem;
  padding: 1rem;
}
.message {
  background-color: #f1f1f1;
  border-left-color: #D3D8E0;
  border-left-style: solid;
  border-left-width: 0.2em;
  margin-bottom: 3rem;
  padding: 1rem;
}
.message-secondary {
  background-color: #E5F2FF;
  border-left-color: #CBE6FF;
}
.message-success {
  background-color: #E9F6ED;
  border-left-color: #D3EDDB;
}
.message-alert {
  background-color: #FFF9E5;
  border-left-color: #FFF5CB;
}
.message-danger {
  background-color: #FBEBED;
  border-left-color: #F9D7DB;
}

/*Author Bio*/
.about-author {
  border-bottom: 1px solid $divider-gray;
  border-top: 1px solid $divider-gray;
  overflow: hidden; /*clear fix*/
  padding-top: 1rem;
  @media (min-width: 30em) {
    display: table;
  }
}
.author-image {
  margin: 0 auto;
  width: 50%;
  @media (min-width: 30em) {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
  }
}
.author-bio {
  @media (min-width: 30em) {
    display: table-cell;
    float: left;
    padding-left: 2em;
  }
}
.author-bio p {
  @media (min-width: 30em) {
    font-size: .9rem;
    line-height: 1.5rem;
  }
}

/*Button Generic*/
.btn {
  border-radius: .3rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: .3rem 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

/*RSS Subscribe Button*/
.rss-subscribe {
  background: rgba(44,44,44,1.0);
  margin-top: 3rem;
  width: 9rem;
}
.rss-subscribe:active {
  background: #e0e0e0;
}
.rss-subscribe:hover, .rss-subscribe:focus {
  background-color: rgba(68,68,68,1.0);
  text-decoration: none;
}
.rss-subscribe:before {
  background: url("https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto,q_auto/v1533679603/assets/icon-rss-wht.svg") no-repeat;
  background-size: 100% 100%;
  content: "\0000a0";
  display: inline-block;
  height: 1rem;
  left: 0;
  margin: 0 0.3rem 0 0;
  position: relative;
  top: .2rem;
  width: 1rem;
}
