<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!--if page current page is home-->
      {% if page.url == "/" %}
        <div class="wrap pg-home">
      {% else %}
        <div class="wrap pg-other">
      {% endif %}


      {% include masthead.html %}

      <div class="container content">
            {{ content }}
      </div><!--/container content-->

      {% include footer.html %}
    </div><!--/wrap-->

  </body>
</html>
