<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="wrap">
      {% include masthead.html %}

      <div class="container content">
        <div class="row">
          <div class="col-1">
            <!-- holder for 1 col space, can use later if needed -->
          </div><!--/col-1 (left/top)-->

          <div class="col-10">
            {{ content }}
          </div><!--/col-10 (main content)-->

          <div class="col-1">
            <!-- holder for 1 col space, can use later if needed -->
          </div><!--/col-1 (right/bottom)-->
        </div><!--/row-->
      </div><!--/container content-->

      {% include footer.html %}
    </div><!--/wrap-->

  </body>
</html>
