---
layout: default
---

<article class="layout-1-col">
  <div class="content-primary">
    <section class="post">
      <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
          <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
          <span class="post-readtime">{{ page.readtime }} min read</span>
        </div>
      <img class="post-image" alt="Article Image" data-src="https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto/c_scale,q_auto:good,w_845/{{ page.image }}">
      {{ content }}
    </section>

<hr>

    <section class="about-author">
      <div class="author-image">
        <img alt="{{ site.author.name }}" data-src="https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto/c_scale,q_auto:good,w_225/{{ site.author.image }}">
      </div>
      <div class="author-bio">
        <h3>About {{ site.author.name }}</h3>
        <p>{{ site.author.bio }}</p>
      </div>
    </section>
  </div><!--/content-primary-->

<hr>

  <div class="content-secondary">
    <aside class="related">
      <h2>Read Next:</h2>
        <ul class="related-posts">
          {% for post in site.related_posts limit:4 %}
          <li>
            <a href="{{ post.url }}" class="card">
              <div class="thumb" style="background-image: url(https://res.cloudinary.com/dbrkuvff5/image/upload/f_auto/c_scale,q_auto:good,w_600/{{ post.image }});"></div>
              <h4 class="post-title">{{ post.title }}</h4>
            </a>
          </li>
          {% endfor %}
        </ul>
    </aside>
  </div><!--/content-secondary-->
</article>